@tailwind base;

@tailwind components;

@tailwind utilities;

ul {
  list-style: disc;
  margin-left: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

img {
  object-fit: cover;
}

main {
  min-height: 25vh;
}

/* Content */
.markdown {
  max-width: 42rem;
}

.markdown p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.markdown blockquote {
  background-color: #506fc5;
  border-left: 0.5rem solid #274391;
  color: #fff;
  float: right;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.5;
  margin-left: 1.5rem;
  margin-right: -6rem;
  max-width: 336px;
  padding: 1rem 1.5rem;
}

.markdown blockquote p {
  margin: 0;
}

.markdown blockquote.quote {
  background-color: #ffcb05;
  border-color: #eaba02;
  color: #00274c;
  float: none;
  font-family: "Crimson Text", serif;
  font-weight: normal;
  margin-bottom: 2rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  max-width: none;
}

.markdown blockquote > p {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  position: relative;
}

.markdown blockquote > p::before {
  content: "“";
  font-family: "Muli";
  font-size: 75px;
  left: -.5rem;
  position: absolute;
  top: -1rem;
}

.markdown blockquote > p::after {
  content: "\"";
}

.markdown blockquote.quote > footer {
  font-family: "Muli", sans-serif;
  font-size: 0.9375rem;
  margin-top: 1.5rem;
  text-align: right;
}

.markdown blockquote.quote cite {
  font-style: normal;
}

.markdown a {
  color: #1e80a2;
  box-shadow: inset 0 -1px #1e80a2;  
}

.markdown a:hover,
.markdown a:focus {
  box-shadow: inset 0 -2px #1E80A2;
}

.markdown.small-margin p {
  margin-bottom: 1rem;
}

/* Navigation */
.nav-item::after {
  background-color: #00274c;
  bottom: -25px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  transition: height 0.15s ease;
  width: 100%;
}

.nav-item:hover::after,
.nav-item:focus::after,
.nav-item.active::after {
  height: 5px;
  transition: height 0.15s ease;
}

/* Line heading */
.line-heading {
  position: relative;
}

.line-heading::after {
  border-bottom: 1px solid #aab9e3;
  content: "";
  position: absolute;
  width: 100%;
}

.line-heading > * {
  background-color: #fefefe;
  position: relative;
  z-index: 1;
}

/* Clip */
.clip {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* Social links */
.social-link[href*="feed"] {
  background-image: url("../../static/assets/rss.svg");
}

.social-link[href*="facebook"] {
  background-image: url("../../static/assets/facebook.svg");
}

.social-link[href*="twitter"] {
  background-image: url("../../static/assets/twitter.svg");
}

.social-link[href*="youtube"] {
  background-image: url("../../static/assets/youtube.svg");
}

/* Drop cap */
.drop-cap > p:first-child:first-letter {
  color: #00274c;
  float: left;
  font-family: "Crimson Text";
  font-size: 6.25rem;
  font-weight: 700;
  line-height: 6.25rem;
  margin-top: -1rem;
  padding-right: 0.75rem;
}

/* Infographics */
.infographic {
  background: url("../../static/assets/info-border.svg") center no-repeat;
}

/* Card */
.card {
  transition: box-shadow 0.15s ease;
}

.card:hover,
.card:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  transition: box-shadow 0.15s ease;
}

/* Links */
.link-hover {
  box-shadow: inset 0 -1px #1e80a2;
}

.link-hover:hover,
.link-hover:focus {
  box-shadow: inset 0 -2px #1E80A2;
}

/* Trending */
.trending img{
  transition: box-shadow 0.15s ease;
}

.trending:focus img,
.trending:hover img {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  transition: box-shadow 0.15s ease;
}

.trending:focus h3,
.trending:hover h3 {
  text-decoration: underline;
}

/* Overrides */
.css-lveure-HeaderContainer {
  background-color: #fefefe !important;
}
